@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout Class="d-flex flex-column" Style="min-height: 100vh;">
    <MudPaper Class="d-flex flex-wrap pa-4" Square="true" Outlined="true">
        <div id="app-logo">
            <MudIcon  Icon="@Icons.Material.Outlined.LocalMovies" Size="Size.Large"/>
        </div>
        <MudText Typo="Typo.h5" Class="ms-n3 z-20" ><a href="/">MovieDatabaseApp</a></MudText>
        <MudSpacer />
        <NavMenu />
    </MudPaper>
    <MudMainContent Class="pt-16 pa-4">
        @Body
    </MudMainContent>

    <MudSpacer />
    <MudDivider Class="flex-grow-0" />
    <MudText Typo="Typo.body2" Align="Align.Center" Class="pa-4">
        &copy; @DateTime.Now.Year.ToString() - <MudLink Href="https://konecnymarek.cz" Target="_blank">Marek Konečný</MudLink>
    </MudText>
</MudLayout>


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
}


